.sub-header {
  background-image: url("https://usa.fage/sites/usa.fage/files/recipes/hero/FAGE_ChocolateCake5_RecipeHeader_web%20%281%29.jpg");
  background-repeat: no-repeat;

  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding-top: 75px;
}

.header-middle {
  width: 100%;
  height: 85%;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 3rem;
}
.header-middle-content {
  width: 85%;
  height: 80%;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
}

.header-content {
  color: var(--third-color);
  background-color: transparent;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  justify-content: space-evenly;
  text-align: justify;
}
.header-heading {
  font-size: 3rem;
}

@media only screen and (max-width: 500px) {
  .sub-header {
    padding-top: 50px;
    display: none;
  }
}
