.sub-header {
  background-image: url("https://usa.fage/sites/usa.fage/files/recipes/hero/FAGE_ChocolateCake5_RecipeHeader_web%20%281%29.jpg");
  background-repeat: no-repeat;

  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  padding-top: 75px;
}

.header-middle {
  width: 100%;
  height: 85%;
  background-color: transparent;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 3rem;
}
.header-middle-content {
  width: 85%;
  height: 80%;
  background-color: transparent;
  display: flex;
  justify-content: flex-start;
}

.header-content {
  color: var(--third-color);
  background-color: transparent;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  justify-content: space-evenly;
  text-align: justify;
}
.header-heading {
  font-size: 3rem;
}
.header-lower {
  width: 100%;
  height: 15%;
  background-color: transparent;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lower-header-menu {
  position: absolute;
  width: 80%;
  top: 1rem;

  display: flex;
  justify-content: space-evenly;
}

.header-menu-card {
  font-weight: bold;
  color: var(--secondary-color);
  border: 0.1rem solid;
  border-radius: 0.6rem;
  padding: 1rem;
  background-color: var(--primary-color);
  width: 9%;
  height: 115px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-menu-card-div {
  cursor: pointer;
}

.header-menu-card-img-div {
  display: flex;
  justify-content: center;
}
.header-menu-card-title-div {
  display: flex;
  justify-content: center;
}

.header-menu-icon {
  width: 40%;
  height: 5%;
}
@media only screen and (max-width: 500px) {
  .sub-header {
    padding-top: 50px;
    display: none;
  }
}
