.side-nav {
  display: none;
}

@media only screen and (max-width: 500px) {
  .side-nav {
    display: block;
    width: 0%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    overflow-x: hidden;
    transition: all 0.5s;
  }

  .side-nav-list {
    padding-top: 2rem;
    padding-left: 1rem;
  }
  .side-nav-list-item {
    padding: 1rem;
  }
  .side-nav-list-item:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);

    opacity: 0.9;
  }
}
