.toggle-header {
  display: none;
}

@media only screen and (max-width: 500px) {
  .toggle-header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    z-index: 1;
  }
  .toggle-button-div {
    margin: 1rem;
  }
  .toggle-button {
    color: var(--primary-color);
  }
}
