@import "./style/SignUp.css";
@import "./style/Login.css";
@import "./style/Header.css";
@import "./style/Footer.css";
@import "./style/FilterNav.css";
@import "./style/Loader.css";
@import "./style/SubHeader.css";
@import "./style/ToggleSideNav.css";
@import "./style/ToggleHeader.css";
@import "./style/InformationalModal.css";
@import "./style/Home.css";
@import "./style/Product.css";
@import "./style/Menu.css";
@import "./style/Cart.css";
@import "./style/SmallLoader.css";

@import url("https://fonts.googleapis.com/css2?family=Vollkorn:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 1536px;
  margin: auto;
}
body {
  color: var(--secondary-color);
  word-spacing: 3px;

  /* font-family: "Krona One", sans-serif; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.link {
  color: var(--secondary-color);
  text-decoration: none;
}
.link-header {
  color: var(--primary-color);
  text-decoration: none;
}
.link-sub-header {
  color: var(--third-color);
  text-decoration: none;
}
.under-line {
  text-decoration: underline;
}
button {
  cursor: pointer;
}
button:focus {
  outline: none;
}

.btn {
  background-color: transparent;
  border-color: var(--third-color);
  position: relative;
  padding: 0.5rem 4rem;
  font-size: 1.4rem;
  color: var(--third-color);
  letter-spacing: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  cursor: pointer;
  /* user-select: none; */
  /* padding: 3rem; */
  transition: padding 1s;
}
.btn:hover {
  /* background-color: var(--secondary-color); */
  border-color: var(--third-color);
  padding: 4rem;
  padding: 1rem 3rem;
}

:root {
  --primary-color: #fff;
  --secondary-color: #7d2c6f;
  --third-color: unset;
  /* --fourth-color: #e3afbc; */

  /* --primary-color: #f4f2cb;
  --secondary-color: #c8743c;
  --third-color: #533d24; */
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.incorrect-information-text {
  margin-top: 1rem;
  font-size: 1rem;
  color: red;
}

.empty-wishlist-card {
  min-height: 100vh;
  width: 100%;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 500px) {
  body {
    color: var(--secondary-color);
    background-color: lightblue;
  }

  .close-icon-div {
    position: absolute;
    left: 89%;
    top: 1.5%;
    font-size: 2rem;
    font-weight: 900;
  }
  .btn {
    font-size: 1rem;
    letter-spacing: 0.5rem;
    padding: 0.5rem 0.5rem;
  }
}
